<!DOCTYPE html>
<html>
  <head>
    <title>Youtube Video Info in Node.js and Express</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
      <div class="container">
          <br>
          <h1 class="text-center">Youtube Video Info App</h1>
          <br>
          <form action="/" method="POST">
            <div class="form-group">
                <input type="text" name="url" placeholder="Youtube URL" required class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-danger btn-block">
                    Search Info
                </button>
            </div>
        </form>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>